<div class='footer' role='contentinfo'>
  <img
    class='footer-logo'
    src='{{logoUrl}}'
    alt='API Boilerplate'
    width='132'
    style='color:#FFFFFF;font-size:20px;font-weight:800;letter-spacing:0.4px;'
  />
  <span class='footer-tagline'>{{companyTagline}}</span>
  {{#if footerText}}
    <span class='footer-text'>{{footerText}}</span>
  {{/if}}
  <hr class='footer-divider' />
  <span class='footer-text'>&copy; {{currentYear}} {{appName}}. {{allRights}}</span>
</div>
